doctype html 5
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        title 关于我们 - 贵溪土鸡
        meta(name="keywords", content="关于贵溪土鸡,关于贵溪土鸡蛋,走地鸡")
        meta(name="description", content="我们来自江西省，鹰潭市，贵溪市，流口镇一个普普通通的农村。父母是地地道道的农民。在家养殖贵溪土鸡(www.guixitj.com)有需要的联系我们。")
        link(rel="canonical", href="#{domain.pc}/aboutUs")
        //- link(rel="alternate", media="only screen and(max-width: 640px)", href="#{domain.m}/aboutUs")
        //- meta(name="mobile-agent", content="format=html5;url=#{domain.m}/aboutUs")
        meta(name="applicable-device", content="pc")
        meta(http-equiv="Cache-Control", content="no-transform")
        meta(http-equiv="Cache-Control", content="no-siteapp")
        meta(name="renderer", content="webkit")
        link(rel="stylesheet", type="text/css", href="#{domain.static}/css/style.css?#{new Date().getTime()}")
        link(rel="shortcut icon", href="#{domain.static}/img/favicon.ico", type="image/x-icon")
    body.about-page
        include ../include/header.jade
        p.curr-positon.width-1100
            span 当前位置：
            a(href="#{domain.pc}/") 首页
            span &nbsp;&gt;&nbsp;关于我们
        .about-us
            div.width-1100
                div.us-img
                    img(src="#{domain.static}/img/about.jpg", alt="关于我们")
                div.us-cont
                    div.column-title
                        span 我们的简介
                    span.cont 
                        | &nbsp;&nbsp;&nbsp;&nbsp;我们来自于江西省-鹰潭市-贵溪市-流口镇，一个有着普普通通的农村、生活恬静的村庄。这里生活朴素，依山傍水。家在山上的一片坡地常年散养着“贵溪土鸡”，自己的家人、亲戚、朋友吃过的都纷纷夸赞，笑称我们的土鸡是“贵溪走地鸡”。也是因为相比市场上饲养的鸡肉，我们的贵溪土鸡肉更加结实，肉质结构和营养比例更加合理，土鸡肉中含有丰富的蛋白质，微量元素和各种营养素，脂肪的含量比较低，对于我们人体的保健具有重要的价值，是我们中国人比较喜欢的肉类制品，属于高蛋白的肉类，是真正的绿色无污染的肉类食物。
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;附近乡里乡亲的也会经常来我家，特别是办酒席，或者给小孩补充营养等...!一定会选择我们家的
                        a(href="#{domain.pc}/aboutus/") “贵溪走地鸡”。
                        |我们期待和欢迎城区的朋友，在城市高压生活之余，带上亲朋好友，来我们家感受乡野乐趣，体验土滋土味的惬意。
        .width-1100.map-point
            p.map-tip 去购买贵溪土鸡要怎么走？下图红点标记的是贵溪农家土鸡的具体位置标注，您可以拖动， 双击放大缩小地图。
            //- #dituContent.ditu-content
            iframe#my-map(name="content", src="#{domain.static}/html/map.html" frameborder='0', scrolling='no', width='100%')
        .life-show.width-1100
            ul
                each item in life
                    li
                        a(href="#{domain.pc + '/detail/' + item.id}", target="_blank")
                            img(src="#{domain.static + '/img/' + item.type + '/' + item.logo}", alt="#{item.title}")
                        span
                            a(href="#{domain.pc + '/detail/' + item.id}", target="_blank") #{item.title}
        include ../include/footer.jade