doctype html 5
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title 贵溪土鸡 - 土鸡
        meta(name="keywords", content="贵溪土鸡,流口土鸡,鹰潭土鸡,农家土鸡,贵溪散养土鸡,贵溪土鸡蛋")
        meta(name="description", content="鹰潭贵溪土鸡(www.guixitj.com)长年出售农村散养土鸡（走地鸡），保证土生土长无饲料，肉质正宗。")
        link(rel="canonical", href="#{domain.pc}/")
        include ../include/tongji.jade
        link(rel="stylesheet", type="text/css", href="/css/swiper.min.css")
    body
        .top-wrap
            h1
                a(href="#{domain.m}/", title="贵溪土鸡") 贵溪土鸡出售网&nbsp;
                    strong www.guixitj.com
        .banner
            div(class="swiper-container swiper-container-banner")
                div.swiper-wrapper
                    .swiper-slide
                        img(src="/img/banner/banner1.jpg", alt="")
                    .swiper-slide
                        img(src="/img/banner/banner2.jpg", alt="")
                    .swiper-slide
                        img(src="/img/banner/banner3.jpg", alt="")
                div.swiper-pagination
        include ../include/menu.jade
        .module-unit.m-base-info
            .goods-price
                span ¥
                i 29.00&nbsp;-&nbsp;35.00
            .goods-title
                h2 仅供参考-具体以实际购买价为准
                span.good-share 分享
            .good-guarantee-bar
                span 全程护航，请放心购买
        .module-unit.m-bsae-server
            span.server 服务
            span 市内直送 · 货到付款 · 假货不收钱
        .tab-wrap.active0
            .tabs
                span.tab0(onclick="switchTab(0)") 商品详情
                span.tab1(onclick="switchTab(1)") 成交记录
                .van-tabs__line
            div(class="swiper-container swiper-container-tab")
                div.swiper-wrapper
                    .swiper-slide
                        .goods-detail
                            p 产品基础信息
                            p 品名：农村散养土鸡
                            p 产地：贵溪
                            p 规格：4-7斤/只
                            p 物流：直送
                            p 品质：散养数量不多，肉质绝对正宗
                            p 送货限制：只限贵溪市，以及市附近区域
                            br
                            p.promise 保证：如不是农村散养土鸡，本平台承诺无条件退款，并且不再收回已卖出的土鸡
                            img(src="/img/goods/goods2.jpg", alt="")
                            img(src="/img/goods/goods1.jpg", alt="")
                    .swiper-slide
                        ul.trade-list
                            each item in trade
                                li
                                    a(href="#{domain.m + '/detail/' + item.id}")
                                        .diagram
                                                img(src="#{domain.static + '/img/' + item.type + item.logo}", alt="#{item.title}")
                                        .cont
                                            p.trade-title #{item.title}
                                            p.essay #{item.depict}
                                            p.biaoshi #{item.create_time}
        include ../include/footer.jade
        //- script(src="/js/swiper.min.js")
        script(src="https://cdn.bootcss.com/Swiper/4.5.0/js/swiper.min.js")
        script.
            var mySwiper = new Swiper('.swiper-container-banner',{
                autoplay: true,
                pagination: {
                    el: '.swiper-pagination',
                }
            })
            var mySwiper2 = new Swiper('.swiper-container-tab',{
                autoplay: false,
                on: {
                    slideChangeTransitionStart: function() {
                        document.querySelector('.tab-wrap').className = 'tab-wrap active' + this.realIndex;
                    }//,
                    //- slideChangeTransitionEnd: function () {
                    //-     document.querySelector('.tab-wrap').className = 'tab-wrap active' + this.realIndex;
                    //- }
                }
            })
            function switchTab(value) {
                mySwiper2.slideTo(value, 1000, false);
                document.querySelector('.tab-wrap').className = 'tab-wrap active' + value;
            }
            