doctype html 5
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title 贵溪土鸡 - 土鸡
        meta(name="keywords", content="贵溪土鸡,流口土鸡,鹰潭土鸡,农家土鸡,贵溪散养土鸡,贵溪土鸡蛋")
        meta(name="description", content="鹰潭贵溪土鸡(www.guixitj.com)长年出售农村散养土鸡，保证土生土长无饲料，肉质正宗。")
        link(rel="canonical", href="#{domain.pc}/")
        meta(name="applicable-device", content="mobile")
        meta(http-equiv="Cache-Control", content="no-transform")
        meta(http-equiv="Cache-Control", content="no-siteapp")
        meta(name="MobileOptimized", content="width")
        meta(name="HandheldFriendly", content="true")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name="apple-mobile-web-app-title", content="贵溪土鸡")
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", type="text/css", href="/css/style_m.css?#{new Date().getTime()}")
        link(rel="stylesheet", type="text/css", href="/css/swiper.min.css")
    body
        //- <script src="./slid-es5.js"></script>
        .top-wrap
            h1
                a(href="#{domain.m}/", title="贵溪土鸡") 贵溪土鸡出售网&nbsp;
                    strong www.guixitj.com
        .banner
            div(class="swiper-container swiper-container-banner")
                div.swiper-wrapper
                    .swiper-slide
                        img(src="/img/banner/banner1.jpg", alt="")
                    .swiper-slide
                        img(src="/img/banner/banner2.jpg", alt="")
                    .swiper-slide
                        img(src="/img/banner/banner3.jpg", alt="")
                div.swiper-pagination
        .menu
            ul
                
                li
                    a(href="") 新闻
                li
                    a(href="") 购买
                li
                    a(href="") 生活
                li.active
                    a(href="") 首页
        .module-unit.m-base-info
            .goods-price
                span ¥
                i 29.00
            .goods-title
                h2 产地直送-贵溪农家散养土鸡
                span.good-share 分享
            .good-guarantee-bar
                span 全程护航，请放心购买
        .module-unit.m-bsae-server
            span.server 服务
            span 市内直送 · 货到付款 · 假货不收钱
        .tab-wrap.active0
            .tabs
                span.tab0(onclick="switchTab(0)") 商品详情
                span.tab1(onclick="switchTab(1)") 成交记录
                .van-tabs__line
            div(class="swiper-container swiper-container-tab")
                div.swiper-wrapper
                    .swiper-slide
                        .goods-detail
                            p 产品基础信息
                            p 品名：农村散养土鸡
                            p 产地：贵溪
                            p 规格：4-7斤/只
                            p 物流：直送
                            p 品质：散养数量不多，肉质绝对正宗
                            p 送货限制：只限贵溪市，以及市附近区域
                            br
                            p.promise 保证：如不是农村散养土鸡，本平台承若无条件退款，并且不会收回已卖出的土鸡
                            img(src="/img/goods/goods2.jpg", alt="")
                            img(src="/img/goods/goods1.jpg", alt="")
                    .swiper-slide
                        ul.trade-list
                            each item in trade
                                li
                                    .diagram
                                        a(href="#{domain.m + '/detail/' + item.id}")
                                            img(src="#{domain.static + '/img/' + item.type + '/' + item.logo}", alt="#{item.title}")
                                    .cont
                                        p 
                                            a(href="#{domain.m + '/detail/' + item.id}") #{item.title}
                                        p.essay #{item.depict}
                                        p.biaoshi #{item.create_time}
        .order
            .order-cont
                a(href="", class="about") 关于我们
                span |
                a(href="", class="question") 常见问题
                button#go-buy 立即购买
        .contact
            .contact-cont
                p
                    span 微信号：
                    textarea#wchat(readonly="readonly") 687011233
                    button#copy-txt 复制微信号
                p 
                    span 手机号：
                    textarea(readonly="readonly") 13687011233
                    <a href="tel:13687011233">立即拨打电话</a>
                .line
                .close-model#contact-close 取&nbsp;消
        .mask
        .confirm 复制成功
        .fullguide-share
            i.fullguide__arrow
            .fullguide-share-inner
                .fullguide-share__one 立即分享给好友吧
                .fullguide-share__two 点击屏幕右上角将本页面分享给好友
            .not-fount-share
                p 没发现分享按钮？复制下面链接分享给好友
                .share-line
                    textarea(id="line-txt", readonly="readonly") www.guixitj.com
                    button#line-btn 复制链接
        script.
            var banner = document.querySelector('.banner');
            var contactEv = document.querySelector('.contact');
            var mask = document.querySelector('.mask');
            var fullguideShare = document.querySelector('.fullguide-share');
            var goodShare = document.querySelector('.good-share');
            var confirm = document.querySelector('.confirm');
            banner.style.height = 250 * banner.offsetWidth / 750 + 'px';
            document.getElementById('contact-close').addEventListener('click', function(e) {
                contactEv.style.bottom = '-200px';
                mask.style.display = 'none';
            });
            document.getElementById('go-buy').addEventListener('click', function() {
                contactEv.style.bottom = '0';
                mask.style.display = 'block';
            });
            goodShare.addEventListener('click', function() {
                fullguideShare.style.display = 'block';
            });
            fullguideShare.addEventListener('click', function() {
                fullguideShare.style.display = 'none';
            });
            mask.addEventListener('click', function() {
                contactEv.style.bottom = '-200px';
                mask.style.display = 'none';
            });
            document.getElementById('copy-txt').addEventListener('click', function() {
                getCopy('wchat');
            });
            document.getElementById('line-btn').addEventListener('click', function(ev) {
                getCopy('line-txt');
            });
            function getCopy(id) {
                var input = document.getElementById(id);
                input.select(); // 选中文本
                document.execCommand("Copy"); // 执行浏览器复制命令
                confirm.style.top = '60px';
                confirm.style.opacity = 1;
                setTimeout(function () {
                    confirm.style.top = '-35px';
                    confirm.style.opacity = 0;
                }, 2000)
            }
        //- script(src="/js/swiper.min.js")
        script(src="https://cdn.bootcss.com/Swiper/4.5.0/js/swiper.min.js")
        script.
            var mySwiper = new Swiper('.swiper-container-banner',{
                autoplay: true,
                pagination: {
                    el: '.swiper-pagination',
                }
            })
            var mySwiper2 = new Swiper('.swiper-container-tab',{
                autoplay: false,
                on: {
                    slideChangeTransitionStart: function() {
                        document.querySelector('.tab-wrap').className = 'tab-wrap active' + this.realIndex;
                    }//,
                    //- slideChangeTransitionEnd: function () {
                    //-     document.querySelector('.tab-wrap').className = 'tab-wrap active' + this.realIndex;
                    //- }
                }
            })
            function switchTab(value) {
                mySwiper2.slideTo(value, 1000, false);
                document.querySelector('.tab-wrap').className = 'tab-wrap active' + value;
            }
            