doctype html 5
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title 农家土鸡生活#{pageTxt} - 贵溪土鸡
        meta(name="keywords", content="农家生活,贵溪土鸡的农家生活，贵溪日常生活")
        meta(name="description", content="我们来自小小的农村，大清早起来就开始喂养贵溪土鸡下午去树林里面检查或寻找土鸡蛋，生活简单而充实。")
        link(rel="canonical", href="#{domain.pc + pageUrl}")
        meta(name="applicable-device", content="mobile")
        meta(http-equiv="Cache-Control", content="no-transform")
        meta(http-equiv="Cache-Control", content="no-siteapp")
        meta(name="MobileOptimized", content="width")
        meta(name="HandheldFriendly", content="true")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name="apple-mobile-web-app-title", content="贵溪土鸡")
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", type="text/css", href="/css/style_m.css?#{new Date().getTime()}")
    body
        .top-title
            h1 关于我们
        include ../include/menu.jade
        .life-list
            ul
                each item in life
                    li
                        div
                            a(href="#{domain.m + '/detail/' + item.id}")
                                img(src="#{domain.static + '/img/' + item.type + item.logo}", alt="#{item.title}")
                        p.lift-tit
                            a(href="#{domain.m + '/detail/' + item.id}") #{item.title}
                        p
                            //- span 橙子
                            span #{item.create_time}
            .page !{page}
        include ../include/footer.jade