doctype html 5
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        title 农家土鸡生活#{pageTxt} - 贵溪土鸡
        meta(name="keywords", content="农家生活,贵溪土鸡的农家生活，贵溪日常生活")
        meta(name="description", content="我们来自小小的农村，大清早起来就开始喂养贵溪土鸡下午去树林里面检查或寻找土鸡蛋，生活简单而充实。")
        link(rel="canonical", href="#{domain.pc + pageUrl}")
        //- link(rel="alternate", media="only screen and(max-width: 640px)", href="#{domain.m + pageUrl}")
        //- meta(name="mobile-agent", content="format=html5;url=#{domain.m + pageUrl}")
        meta(name="applicable-device", content="pc")
        meta(http-equiv="Cache-Control", content="no-transform")
        meta(http-equiv="Cache-Control", content="no-siteapp")
        meta(name="renderer", content="webkit")
        link(rel="stylesheet", type="text/css", href="#{domain.static}/css/style.css?#{new Date().getTime()}")
        link(rel="shortcut icon", href="#{domain.static}/img/favicon.ico", type="image/x-icon")
    body.life
        include ../include/header.jade
        p.curr-positon.width-1100
            span 当前位置：
            a(href="#{domain.pc}/") 首页
            span &nbsp;&gt;&nbsp;农家生活
        .life-list.width-1100
            ul
                each item in life
                    li
                        a(href="#{domain.pc + '/detail/' + item.id}", target="_blank")
                            img(src="#{domain.static + '/img/' + item.type + '/' + item.logo}", alt="#{item.title}")
                        p
                            a(href="#{domain.pc + '/detail/' + item.id}", target="_blank") #{item.title}
                        p
                            span 上传：橙子
                            span #{item.create_time}
                li.no-cont
                li.no-cont
                li.no-cont
            .page !{page}
        include ../include/footer.jade