doctype html 5
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title 站内土鸡新闻#{pageTxt} - 贵溪土鸡
        meta(name="keywords", content="贵溪土鸡新闻,贵溪土鸡蛋新闻")
        meta(name="description", content="贵溪土鸡新闻主要发布本站农家生活状况，散养鸡的生活环境，最新农家消息。")
        link(rel="canonical", href="#{domain.pc + pageUrl}")
        include ../include/tongji.jade
    body
        .top-title
            h1 站内土鸡新闻
        include ../include/menu.jade
        div.news-list
            //- p.list-title 站内新闻列表
            ul
                each item in news
                    li
                        a(href="#{domain.m + '/detail/' + item.id}")
                            span.news-tit #{item.title}
                            span.biaoshi 编辑：阿顺&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日期：#{item.create_time}
                            i
            .page !{page}
        include ../include/footer.jade
            