doctype html 5
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        title 土鸡常见问题 - 贵溪土鸡
        meta(name="keywords", content="怎么确定是土鸡,土鸡蛋怎么分辨，土鸡常见问题")
        meta(name="description", content="经常有人担心贵溪土鸡不是正宗的土鸡，这里常见问题发布了一些答案为大家解惑削除大家的疑虑，如有其它问题咨询请联系我们。")
        link(rel="canonical", href="#{domain.pc}/questions")
        //- link(rel="alternate", media="only screen and(max-width: 640px)", href="#{domain.m}/questions")
        //- meta(name="mobile-agent", content="format=html5;url=#{domain.m}/questions")
        meta(name="applicable-device", content="pc")
        meta(http-equiv="Cache-Control", content="no-transform")
        meta(http-equiv="Cache-Control", content="no-siteapp")
        meta(name="renderer", content="webkit")
        link(rel="stylesheet", type="text/css", href="#{domain.static}/css/style.css?#{new Date().getTime()}")
        link(rel="shortcut icon", href="#{domain.static}/img/favicon.ico", type="image/x-icon")
    body
        include ../include/header.jade
        p.curr-positon.width-1100
            span 当前位置：
            a(href="#{domain.pc}/") 首页
            span &nbsp;&gt;&nbsp;常见问题
        div.question-cont.width-1100
            div.cont-lf
                div.column-title
                    span 本站新闻
                    a(href="#{domain.pc}/news/") 更多&gt;
                ul
                    each item, idx in news
                        li
                            i #{idx+1}
                            a(href="#{domain.pc + '/detail/' + item.id}", target="_blank") #{item.title}
            div.question.q-questions
                p.qt
                    i 问：
                    span 怎么确保卖的是土鸡呢？
                p.an
                    i 答：
                    span 我们是农村的小小农民，规模并不大，养鸡只是为了补贴家用。如果你来到我们家，附近乡里乡亲的稍微打听下就知道。买过我们家的鸡都说好。
                p.qt
                    i 问：
                    span 提供送货上们服务吗？
                p.an
                    i 答：
                    span 在本市内都可以送过来的，当然路太远的话按N只起送（具体依照路程而定）。小本生意大家互相体谅。
                p.qt
                    i 问：
                    span 有卖土鸡蛋吗？土鸡蛋正宗吗？
                p.an.last-an
                    i 答：
                    span 
                        | 因养的大部分是肉鸡，所以土鸡蛋并不多。有需要的可以电话咨询或者预定。我们保证每一个鸡蛋都是纯天然吃五谷杂粮的，蛋黄绝对够浓够黄。是不是土鸡蛋，有经验的朋友敲破壳一看便知真假。如有不知道怎么区分的可以阅读这篇文章“
                        a(href="") 怎样区分土鸡蛋
                        | ”
        include ../include/footer.jade