doctype html 5
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title 土鸡成交记录#{pageTxt} - 贵溪土鸡
        meta(name="keywords", content="出售贵溪土鸡,出售贵溪土鸡蛋")
        meta(name="description", content="出售正宗农村散养土鸡，贵溪土鸡蛋保证品质，保证营养，保证绿色欢迎前来购买。")
        link(rel="canonical", href="#{domain.pc + pageUrl}")
        meta(name="applicable-device", content="mobile")
        meta(http-equiv="Cache-Control", content="no-transform")
        meta(http-equiv="Cache-Control", content="no-siteapp")
        meta(name="MobileOptimized", content="width")
        meta(name="HandheldFriendly", content="true")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name="apple-mobile-web-app-title", content="贵溪土鸡")
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", type="text/css", href="/css/style_m.css?#{new Date().getTime()}")
    body
        .top-title
            h1 土鸡成交记录
        include ../include/menu.jade
        div.trade-list
            ul
                each item in trade
                    li
                        a(href="#{domain.m + '/detail/' + item.id}")
                            .diagram
                                    img(src="#{domain.static + '/img/' + item.type + item.logo}", alt="#{item.title}")
                            .cont
                                p.trade-title #{item.title}
                                p.essay #{item.depict}
                                p.biaoshi #{item.create_time}
            .page !{page}
        include ../include/footer.jade