.footer
    .width-1100
        ul
            li
                a(href="#{domain.pc}/", title="首页") 首页
            li
                a(href="#{domain.pc}/trade/", title="最近出售") 最近出售
            li
                a(href="#{domain.pc}/life/", title="农家生活") 农家生活
            li
                a(href="#{domain.pc}/news/", title="本站新闻") 本站新闻
            li
                a(href="#{domain.pc}/questions/", title="常见问题") 常见问题
            li
                a(href="#{domain.pc}/aboutus/", title="关于我们") 关于我们
        div.superiority
            p.tui 不是土鸡无偿退款
            p.price 价格绝对实在
            p.song 风雨无阻送货上门
        div
            p.num 订购：13687011233
            .qr-code
                div
                    img(src="#{domain.static}/img/qr.png", alt="")
                    span 扫一扫 手机访问
                div
                    img(src="#{domain.static}/img/qr.png", alt="")
                    span 扫一扫 微信客服
.float-w
    div.call-ico
        img(src="#{domain.static}/img/call.gif", alt="联系我们")
    p 立即订购
    div.cont
        div
            span 手机：13687011233
            img(src="#{domain.static}/img/qr.png", alt="")
            span 扫一扫添加微信
.dibu
    | 最终解释权归本站所有