.menu
    ul
        
        li(class="#{pageUrl.indexOf('/news') > -1 ? 'active' : ''}")
            a(href="#{domain.m + '/news/'}") 新闻
        li(class="#{pageUrl.indexOf('/trade') > -1 ? 'active' : ''}")
            a(href="#{domain.m + '/trade/'}") 购买
        li(class="#{pageUrl.indexOf('/life') > -1 ? 'active' : ''}")
            a(href="#{domain.m + '/life/'}") 生活
        li(class="#{pageUrl === '/' ? 'active' : ''}")
            a(href="#{domain.m + '/questions/'}") 常见问题